<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
<title>StreetView Guessing Game</title>
<style>
body {
  text-align: center;

  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 250px 64px;
}
.playButton{
	  color: white;
    border: 2px solid #93ff33;
    padding: 15px 32px;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    transition-duration: 0.4s;
  }

.playButton:hover{
  background-color: #93ff33;
  color: black;
}
.button-d{
  padding: 50px 64px;
}
</style>
</head>
<body>

<h1>Canada's Streetview guessing game!</h1>
<p>Guess where the streetview picture was taken</p>
<p>Earn more points the more precise your guess is!</p>

<div class="button-d">
  <a href="/mapPage" style="text-decoration: none;" class="playButton">Play!</a>
</div>

</body>
</html>
